---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
const pageTitle = "Astro blog";
// DEBUG
console.log(allPosts[0]);
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="mb-4 text-xl font-bold text-gray-700">My astro learning blog</h2>
  <ul>
    {
      allPosts.reverse().map(post => (
        <li class="mb-2">
          <pre>id: {post.id}</pre>
          <pre>slug: {post.slug}</pre>
          <pre>collections: {post.collection}</pre>
          <pre>title: {post.data.title}</pre>

          <a
            href={`/posts/${post.slug}`}
            class="text-gray-700 font-bold underline"
          >
            {post.slug}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
