---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Astro blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class="mb-4 text-xl font-bold text-gray-700">My astro learning blog</h2>
  <ul>
    {
      allPosts.reverse().map(post => (
        <li class="mb-2">
          <a href={post.url} class="text-gray-700 font-bold underline">
            {post.frontmatter.title}
          </a>
          <p>{post.frontmatter.description}</p>
          <p>{post.frontmatter.pubDate}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
