---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p class="my-4">{frontmatter.description}</p>
  <p class="my-4">{new Date(frontmatter.pubDate)}</p>
  <p>Written by: {frontmatter.author}</p>
  <div class="my-4 flex space-x-2">
    {
      frontmatter.tags.map(tag => (
        <p class="px-2 py-1 border rounded-md bg-indigo-100">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>

  <div class="prose">
    <slot />
  </div>
</BaseLayout>
